---
import Plus from "@lucide/astro/icons/plus"

---	
	<div>

		<p class="mx-auto mt-14 w-1/2 text-gray-600 text-lg text-center" >
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque repellendus sapiente odio officiis cum soluta, minus totam maxime qui vitae!
		</p>

		<section class="flex justify-center space-x-3 my-8" >

			<button class="text-base btn btn-primary" >
				Tous
			</button>

			<button class="text-base btn btn-info">
				Tutoriel
			</button>

			<button class="text-base btn btn-accent">
				Carrière
			</button>

			<button class="text-base btn btn-error">
				Opinion
			</button>

			<button class="text-base btn btn-secondary">
				Opinion
			</button>
			
		</section>

		<section class="mt-10 mb-14">
			<button class="flex justify-around mx-auto rounded text-base btn btn-neutral">
				<Plus class='size-5' />Écrire un article
			</button>
            <input type="search" name="" id="">
		</section>
	</div>