---
import LogIn from "@lucide/astro/icons/log-in"
import UserPlus from "@lucide/astro/icons/user-plus"

---
<header class=" justify-center mb-4 w-full  hidden md:flex bg-white" >

    <nav class="flex justify-between p-3 border mt-4 border-gray-200 rounded-3xl w-[80%]  lg:w-[65%] xl:w-1/2  text-base " >

        <ul class="space-x-3 w-full" >

            <li class="inline-block bg-neutral px-2.5 py-1 rounded-2xl text-neutral-content" >
                Accueil
            </li>

            <li class="inline-block px-2.5  rounded-2xl py-1" >
                Forum
            </li>

            <li class="inline-block px-2.5  rounded-2xl py-1" >
                Communauté
            </li>

        </ul>

        <ul class="flex justify-end w-full" >
            
            <li class="flex items-center hover:text-gray-500">
                <LogIn class="mr-1 size-4" />
                <a href="/auth/login">Se connecter</a>
            </li>

            <li class="bg-gray-300 mx-1.5 w-0.5 h-full" ></li>

            <li class="flex items-center hover:text-gray-500">
                
                <a href="/auth/register" class="flex items-center">
                    <UserPlus class="mr-1 size-4" />
                    S'inscrire
                </a>

            </li>

        </ul>

    </nav>

</header>
